html{
    height: -webkit-fill-available;
}
body{
    height: -webkit-fill-available;
    margin: 0;
    position: relative;
}
.profil_pic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    grid-area: pic;
}

.profil_anzahl{
    grid-area: anzahl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1{
    margin: -5px;
}


.anzahl{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anzahl p{
    margin: 10px;
}

.profil_info{
    grid-area: info;
}

header{
    padding: 15px;
    display: grid;
    grid-template-areas: 
    "pic anzahl anzahl"
    "pic anzahl anzahl"
    "info info info";
}

header .name{
    font-weight: bold;
}

#pics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#pics img{
    background-color: rgb(101, 101, 101);
    width: 33vw;
    height: 33vw;
    cursor: pointer;
}

#pop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop_img{
    width: 90vw;
    height: 55vh;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50px;
    padding: 30px;
    z-index: 11;
}

.pop_text{
    color: white;
    margin: 0;
    padding-left: 10px;
    z-index: 11;
    grid-area: texto;
}

.hidden{
    display: none!important;
}

.close{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fix{
    position: fixed;
}

#pop .profil_pic2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    grid-area: bild;
    margin-top: -17px;
}

.Legende{
    display: grid;
    grid-template-areas: 
    "bild texto texto texto texto"
    "bild texto texto texto texto";
    padding: 0 30px;
}